@use "../base/variables" as *;
.hero {
  position: relative;
  height: 400px;
  display: flex;
  overflow: hidden;

  .hero-image {
    width: 65%;
    height: 100%;
    object-fit: cover;
  }

  .hero-overlay {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: $citizens-green;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (max-width: 768px) {
  .hero {
    height: auto;
    flex-direction: column;

    .hero-image {
      width: 100%;
      height: 250px;
    }

    .hero-overlay {
      display: none; // remove green angled shape
    }
  }
}
