@use "./variables" as *;
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-gray;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.citizens-page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $white;
  a {
    color: #555555;
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    color: $citizens-green;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    color: $text-gray;
    margin-bottom: 1rem;
  }
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}
.mb-6 {
  margin-bottom: 60px;
}
