$citizens-green: #008556;
$citizens-green-dark: #006b45;
$citizens-light-green: #e5f3ef;
$citizens-orange: #e67817;
$citizens-orange-hover: #d36a0f;

$text-dark: #333333;
$text-gray: #555555;

$white: #ffffff;
$bg-light: #f9f9f9;
